################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/demo_HocLieu/FileContentIndex/2432fb3a-26d4-4fe0-a543-9f08b00c1757.vsidx
/.vs/demo_HocLieu/FileContentIndex/37deb7a0-d28a-4034-8fe1-2fe8b2d5bac4.vsidx
/.vs/demo_HocLieu/FileContentIndex
