# Tệp cấu hình Visual Studio
.vs/
*.suo
*.user
*.pdb
*.obj

# Thư mục build
[Dd]ebug/
[Rr]elease/
bin/
obj/

# NuGet packages
packages/
*.nupkg

/MVC_STUDENT/obj/Debug/MVC_STUDENT.csproj.AssemblyReference.cache
