# Tệp cấu hình Visual Studio
.vs/
*.suo
*.user
*.pdb
*.obj

# Thư mục build
[Dd]ebug/
[Rr]elease/
bin/
obj/

# NuGet packages
packages/
*.nupkg
appsettings.json
appsettings.*.json
appsettings.local.json